body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    background-color: #eee;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: #428bca;
    display: inline-block;    
    margin:0;
    padding:0;
}

.inputfile:focus + label,
.inputfile + label:hover {
    color:#2a6496;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #888;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #888;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #888;
}
input:-moz-placeholder { /* Firefox 18- */
  color: #888;
}

.panel{
    border: 1px solid #bbb;
    padding: 1em;
    margin: .5em;
    box-shadow: 0 0 5px #888;    
    background-color:white;
}

.panel-header{
    margin-top: 0;
    padding-top: 0;
}

.list{
    list-style:none;
    padding:0;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-top: 1px solid #bbb;
    border-radius:3px;
}

.list-item{
    border-bottom: 1px solid #bbb;    
    padding: 1em;
}

.list-item-heading{
    margin-top:0;
    margin-bottom:.5em;
}

.list-item-text{
    margin-bottom:0;
    margin-top:.5em;
}

.capitalize {
    text-transform: capitalize;
}

.middle{
    margin:auto;
    background-color:blue;
    width: 150px;
}