
<script src="https://cdn.auth0.com/js/lock/10.6/lock.min.js"></script>
<script>
    var lock = new Auth0Lock('@System.Configuration.ConfigurationManager.AppSettings["auth0:ClientId"]', 'sheeler-test.auth0.com', {
    auth: {
        redirectUrl: '@System.Configuration.ConfigurationManager.AppSettings["auth0:CallbackUrl"]',
        responseType: 'code',
        params: {
            scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
        }
    }
    });
    lock.show();
</script>
<button onclick="lock.show();">Login</button>