<h1>Search Documents</h1>
<form action="@Url.Action("Search", "Home")" method="get" class="form-inline">
    <div class="form-group">
        <label id="search" class="sr-only">Search</label>
        <input type="text" id="search" name="search" class="form-control input-lg" />
    </div>
    <button type="submit" class="btn btn-primary btn-lg">
        <span class="glyphicon glyphicon-search"></span> Search
    </button>
</form>

<div>
    <h1>Upload File</h1>
    <p class="lead">Upload your files to the cloud and access them from anywhere.</p>
    <form action="@Url.Action("Upload","Home")" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <input type="file" name="file" id="file" class="inputfile">
            <label for="file">
                <span class="glyphicon glyphicon-file"></span>
                <span class="file-text">Choose File</span>
            </label>
        </div>
        <div class="form-group">
            <label for="tags" class="sr-only">Tags</label>
            <input type="text" id="tags" name="tags" class="form-control" placeholder="Add tags (tag1, tag2, etc.)" />
        </div>
        <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-cloud-upload"></span> Upload            
        </button>
    </form>
</div>